
.gob{
    position: absolute;
    top: 3%;
    left: 0%;
    margin-left: 10px;
    border-radius: 20px;
}
.menu{
    position: absolute;
    top: 3%;
    right: 0%;
margin-right: 20px;
border-radius: 50px;
cursor: pointer;
}
.anto{
    text-align: center;
    font-style: italic;
    background: linear-gradient(
        90deg,
        rgb(255, 255, 255)20%,
        rgb(110,192,110)200%
    );
    font-size: 65px;
}
.rowm{
    background: linear-gradient(
        90deg,
        rgb(117, 231, 142)20%,
        rgb(243, 245, 243)90%
    );
    cursor: pointer;
}